.container {
  width: 60%;
}

/* Navigation bar */
.navbar {
  border-top: 4px solid #333333;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 5px 0 5px 0;
}
.navbar-brand p {
  font-size: 26px;
  color: #99281b;
  font-family: "Raleway", sans-serif;
}
.navbar-nav {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

/* Main */
p {
  font-size: 17px;
  font-family: "Source Serif Pro", serif;
  color: #333333;
}
img {
  width: 100%;
}
.portfolio-item {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}
.portfolio-item:hover {
  opacity: .8;
  cursor: pointer;
  color: #99281b;
}
.portfolio-dropdown {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
}
.portfolio-item *, .portfolio-dropdown * {
  margin: 5px 0 5px 0;
}
.invisible_link {
  color: #333333;
}
.row {
  padding-left: 15px;
  padding-right: 15px;
}

/* Footer */
.foot {
  padding: 15px 0 15px 0;
}
.foot p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #777777;
}
.foot a {
  color: #777777;
}
.foot a:hover {
  color: #333333;
}
