.container {
  width: 60%;
}

/* Navigation bar */
.navbar {
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 5px 0 5px 0;
}
.navbar-brand p {
  font-size: 26px;
  color: #99281b;
  font-family: "Raleway", sans-serif;
}
.navbar-nav {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

/* Main */
p {
  font-size: 17px;
  font-family: "Source Serif Pro", serif
}

/* Footer */
.foot {
  padding: 15px 0 15px 0;
}
.foot p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #777777;
}
.foot a {
  color: #777777;
}
.foot a:hover {
  color: #333333;
}
